<template>
  <div>
    <form class="form-group" @submit.prevent="login">
      <h1>Sign in</h1>
      <label for="username">Username</label>
      <input required v-model="username" type="text" class="form-control" placeholder="Name"/>
      <label htmlFor="password">Password</label>
      <input required v-model="password" type="password" class="form-control" placeholder="Password"/>
      <hr/>
      <button class="btn btn-primary" :disabled="loading">Login</button>
    </form>
    <div v-if="error" class="alert alert-danger">{{error}}</div>
  </div>
    <!--   <button class="btn" v-on:click="login">Login</button>
   </div>
    <div class="alert alert-info">
       Username: test<br />
       Password: test
    </div>
    <h2>Login</h2>
    <form @submit.prevent="handleSubmit">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" v-model="username" name="username" class="form-control" :class="{ 'is-invalid': submitted && !username }" />
          <div v-show="submitted && !username" class="invalid-feedback">Username is required</div>
      </div>
      <div class="form-group">
        <label htmlFor="password">Password</label>
        <input type="password" v-model="password" name="password" class="form-control" :class="{ 'is-invalid': submitted && !password }" />
        <div v-show="submitted && !password" class="invalid-feedback">Password is required</div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" :disabled="loading">Login</button>
      </div>
      <div v-if="error" class="alert alert-danger">{{error}}</div>
    </form>
    </div> -->
</template>

<script>
import { router } from '../router';
import { userService } from '../services';
export default {
  name: 'LoginPage',
    data () {
      return {
        username: '',
        password: '',
        submitted: false,
          loading: false,
          returnUrl: '',
          error: ''
      }
    },
    created () {
      // reset login status
      userService.logout();
      // get return url from route parameters or default to '/'
      this.returnUrl = this.$route.query.returnUrl || '/';
    },
    methods: {
      handleSubmit (e) {
        this.submitted = true;
        const { username, password } = this;
        // stop here if form is invalid
        if (!(username && password)) {
          return;
        }
        this.loading = true;
        userService.login(username, password)
          .then(
             user => router.push(this.returnUrl),
             error => {
               this.error = error;
               this.loading = false;
             }
          );
      },
        login: function (event) {
          let username = this.username
          let password = this.password
          this.$store.dispatch('login', { username, password })
        }
    }
};
</script>
