<template>
<div class="container">
  <hr/>
  <div class="row">
    ID: {{ id }}
  </div>
  <div class="row">
    First Name: {{ firstname }}
  </div>
  <div class="row">
    Last Name: {{ lastname }}
  </div>
</div>
</template>

<script>
export default {
  name: 'CardListItem',

  props: [
    'id',
    'firstname',
    'lastname'
    ],

  data: function () {
    return {
    }
  } 
}

</script>
