<template>
<div>
  <h3> this is {{ message }} </h3>
</div>
</template>

<script>
export default {
  name: 'CardScrollView',

  data: function () {
    return {
      message: 'this is CardScrollView'
    }
  } 
}

</script>
