<template>
<div>
  <nav class="navbar navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <router-link class="nav-item" to="/">Home</router-link>
          <router-link to="/settings">Settings</router-link>
        </ul>
     </div>
  </nav>
</div>
</template>

<script>

export default {
  name: 'HeaderBar',

  data: function () {
    return {
    }
  } 
}

</script>
