<template>
<div>
  <h3> this is {{ message }} </h3>
</div>
</template>

<script>
export default {
  name: 'LetterIndicator',

  data: function () {
    return {
      message: 'this is LetterIndicator'
    }
  } 
}

</script>
