<template>
<div class="container">
  <form class="form-inline">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
  </form>
  <h3> this is {{ message }} </h3>
  <div class="sidebar">
    <ul class="menu offset-11 col-1 px-1 position-fixed" v-scroll-spy-active="{class: 'customActive'}" v-scroll-spy-link>
      <li :key="item" v-for="item in letters" class="menu-item">
        <a>{{item}}</a>
      </li>
    </ul>

  </div>
  <div class="main" v-scroll-spy="{data: 'section'}">
     <div>
        <h1>A</h1>
        <card-list-item class="container" 
          v-for="card in cards" 
          v-bind:key="card.id"
          v-bind:id="card.id"
          v-bind:firstname="card.firstname"
          v-bind:lastname="card.lastname">
        </card-list-item>
     </div>
     <div>
        <h1>B</h1>
        <card-list-item class="container" 
          v-for="card in cards" 
          v-bind:key="card.id"
          v-bind:id="card.id"
          v-bind:firstname="card.firstname"
          v-bind:lastname="card.lastname">
        </card-list-item>
     </div>
     <div>
        <h1>C</h1>
        <card-list-item class="container" 
          v-for="card in cards" 
          v-bind:key="card.id"
          v-bind:id="card.id"
          v-bind:firstname="card.firstname"
          v-bind:lastname="card.lastname">
        </card-list-item>
     </div>
     <div>
        <h1>D</h1>
        <card-list-item class="container" 
          v-for="card in cards" 
          v-bind:key="card.id"
          v-bind:id="card.id"
          v-bind:firstname="card.firstname"
          v-bind:lastname="card.lastname">
        </card-list-item>
     </div>
     <div>
        <h1>E</h1>
        <card-list-item class="container" 
          v-for="card in cards" 
          v-bind:key="card.id"
          v-bind:id="card.id"
          v-bind:firstname="card.firstname"
          v-bind:lastname="card.lastname">
        </card-list-item>
     </div>
     <div>
        <h1>F</h1>
        <card-list-item class="container" 
          v-for="card in cards" 
          v-bind:key="card.id"
          v-bind:id="card.id"
          v-bind:firstname="card.firstname"
          v-bind:lastname="card.lastname">
        </card-list-item>
     </div>
     <div>
        <h1>G</h1>
        <card-list-item class="container" 
          v-for="card in cards" 
          v-bind:key="card.id"
          v-bind:id="card.id"
          v-bind:firstname="card.firstname"
          v-bind:lastname="card.lastname">
        </card-list-item>
     </div>
     <div>
        <h1>H</h1>
        <card-list-item class="container" 
          v-for="card in cards" 
          v-bind:key="card.id"
          v-bind:id="card.id"
          v-bind:firstname="card.firstname"
          v-bind:lastname="card.lastname">
        </card-list-item>
     </div>
     <div>
        <h1>I</h1>
        <card-list-item class="container" 
          v-for="card in cards" 
          v-bind:key="card.id"
          v-bind:id="card.id"
          v-bind:firstname="card.firstname"
          v-bind:lastname="card.lastname">
        </card-list-item>
     </div>
  </div>
</div>
</template>

<style>

.sidebar {
  position: fixed;
  top: 60px;
  left: 10px;
  max-width: 230px;
  font-size: 12px;
}

.menu {
  padding: 0;
  list-style: none;
}

.current-section {
    padding-top: 50px;
}

.current-section input {
  max-width: 3em;
}

.menu-item {
  margin-bottom: 5px;
}

.menu-item a {
  cursor: pointer;
}

.main {
  margin-left: 0px;
  font-size: 15px;
}

.customActive {
  color: #178ce6;
  border-left: 1px solid #178ce6;
  padding-left: 5px;
  transition: all 0.3s;
}

</style>

<script>
import CardListItem from './CardListItem.vue'

export default {
  name: 'MyCollection',

  components: {
    CardListItem
  },

  data: function () {
    return {
      message: 'this is MyCollection',
      section: 0,
      letters: [
        'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N',
        'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'
      ]
    }
  }, 
  computed: {
    cards: function () {
      return this.$store.state.cards
    }
  }
}

</script>
