<template>
<div>
  <h3> this is {{ message }} </h3>
  <div>
    <button class="btn" v-on:click="login">Login</button>
  </div>
</div>
</template>

<script>
export default {
  name: 'MySettings',

  data: function () {
    return {
      message: 'this is MySettings'
    }
  }, 
  methods: {
    login: function (event) {
      console.log('dispatching login from mySettings')
      this.$store.dispatch('login')
    }
  } 
}
</script>
